<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../style/images/health.gif" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="../../style/404.css">
    <link rel="stylesheet" type="text/css" href="../../style/footer.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Error <span class="errorcode">404</span></h1>
        <p class="output">Yeah... uh. I didn't make a page for a system you aren't tyring to connect to... or don't have access to. :/</p>
        <p class="output">Please try to <a href="../allvhosts.html">go back</a> or <a href="../../index.html">return to the homepage</a>.</p>
        <p class="output">...</p>
        <p class="output">This guy</p>
    </div>
    <div class="footer">
        <div class="fcenter">
            <div class="fflex">
                <div><a href="https://codepen.io/robinselmer/pen/vJjbOZ">Credit</a></div>
            </div>
        </div>
    </div>
</body>

</html>
