<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../style/images/health.gif" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="../style/header.css">
    <link rel="stylesheet" type="text/css" href="../style/body.css">
    <link rel="stylesheet" type="text/css" href="../style/single.css">
    <link rel="stylesheet" type="text/css" href="../style/footer.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="header">
        <div class="hcenter">
            <div class="hflex">
                <div><a class="hLink" href="../index.html"> All </a></div>
                <div> | </div>
                <div><a class="hLink" href="./allvhost.html"> Virtual Host </a></div>
                <div> | </div>
                <div><a class="hLink" href="./single.html"> Single </a></div>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="main">
            <div class="mainName">
                <H1>Devices</H1>
            </div>
            <div class="mainDevices">
                <div class="container">