.center {
	width: 80%;
	height: auto;
	margin: auto;
	background-color: rgba(42, 49, 61, 1);
	padding-bottom: 20px;
	border-radius: 3px;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mainName {
	margin: auto;
	color: #e1e9ed;
}

.mainDevices {
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: rgb(218, 223, 230, .3);
	border-radius: 5px;
	box-shadow: inset 0 0 8px #262626;
	padding-top: 10px;
	max-height: auto;
}

.deviceObject {
	height: 90px;
	width: 197px;
	text-align: center;
	border-radius: 3px;
}

.deviceRed {
	background-color: rgb(204, 81, 65, .7);
}

.deviceGold {
	background-color: rgb(224, 198, 79, .5);
}

@keyframes fade {
	0%,100%{background-color: rgb(65, 204, 81, .6)}
	50%{background-color: rgb(65, 204, 81, .2)}
}

.deviceGreen4 {
	animation: fade 4s linear infinite;
}

.deviceGreen5 {
	animation: fade 5s linear infinite;
}

.deviceGreen6 {
	animation: fade 6s linear infinite;
}

.deviceName {
	margin-top: 35px;
	color: rgba(42, 49, 61, 1);
}

.hide {
	display: none;
}

.deviceName:hover + .hide {
	display: block;
	color: rgb(225, 233, 237, .9);
}

.deviceLink {
	color: rgba(42, 49, 61, 1);
	text-decoration: none;
}
